h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  text-align: center;
}

.grid {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

.card {
  padding: 2em;
  border: 1px solid #888;
  background-color: rgb(246 251 255);
  box-shadow: 3px 6px #888888;
  cursor: pointer;
}

.card:hover {
  background-color: rgb(200, 224, 245);
}
